#portfolio
  background-color #A3A3A3
  padding 2rem
  hr
    border none
    height 0.2rem
    color #333
    background @color

  h2
    text-align center
    font-family Helvetica
    text-transform uppercase
    color black
  #images
    width 100%
    justify-content space-between
    align-content space-between
    display flex
    flex-wrap wrap
    padding 0
    margin 0
  
  li
    flex 1 1 50%
    padding 1 rem
    img
      // box-sizing border-box
      width 100%
      // padding 1rem
      margin-bottom 1rem

// @media(max-width 900px)
//   #portfolio
//     padding 0