@font-face
  font-family "Icons"
  font-style normal
  src url(fonts/SocialCircles.otf)


.nav-bar
  position fixed
  bottom 0
  left 0
  width 100%
  // display flex
  font-family "Icons"
  
  ul

  a
    color black
    text-decoration none
